name: Generate Classements

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r ../../assets/Classement/Prog/requirement.txt

      - name: Create Google credentials file
        run: |
          echo '${{ secrets.GOOGLE_CREDENTIALS }}' > service-account.json

      - name: Run SOLO script
        working-directory: ../../assets/Classement/Prog
        run: python render_classement_solo.py

      - name: Run TEAM script
        working-directory: ../../assets/Classement/Prog
        run: python render_classement_team.py

      - name: Commit generated images
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add *.png
          git commit -m "Auto update classement" || echo "No changes"
          git push
